.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-modal);
}

.modal-content {
    position: absolute;
    min-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-note);
    padding: 60px;
}

.modal-content h2 {
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 700;
}

.modal-content label {
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    height: 40px;
}

.modal-content input[type='text'] {
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0 8px;
}

.modal-content select {
    height: 40px;
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.modal-content textarea {
    height: 64px;
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
}

.modal-content button {
    margin-top: 16px;
    color: var(--text-header);
    font-family: Josefin Sans;
    background-color: var(--bg-header);
    border: none;
    color: var(--text-header);
    padding: 12px 32px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.modal-content button:hover {
    color: var(--button-hover);
}

.close {
    position: absolute;
    top: 12px;
    right: 24px;
    cursor: pointer;
    font-size: 32px;
}

.close:hover {
    transform: scale(1.5);
}

.highlight {
    border: 1px solid var(--error);
}
