.btns-group {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 24px 0;
}

.btns-group button {
    color: var(--text-header);
    font-family: Josefin Sans;
    background-color: var(--bg-header);
    border: none;
    color: var(--text-header);
    padding: 12px 32px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.btns-group button:hover {
    color: var(--button-hover);
}

button.active {
    color: var(--button-hover);
}
