table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 8px;
    width: 1000px;
}

th {
    font-size: 20px;
    font-weight: 700;
    font-family: Josefin Sans;
    padding: 12px;
    color: var(--text-header);
    background-color: var(--bg-header);
    text-align: center;
}

tbody {
    color: var(--text-note);
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
}

td {
    padding: 12px;
    background-color: var(--bg-note);
    max-width: 200px;
    word-wrap: break-word;
}
